@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

$bgc-color: rgb(181, 41, 41);
$dbgc-color: #474648;

:root {
  // --el-color-primary: #34d399 !important;
  // --el-color-primary-light-1: #065f46 !important;
  // --el-color-primary-light-2: #047857 !important;
  // --el-color-primary-light-3: #059669 !important;
  // --el-color-primary-light-4: #10b981 !important;
  // --el-color-primary-light-5: #34d399 !important;
  // --el-color-primary-light-6: #6ee7b7 !important;
  // --el-color-primary-light-7: #a7f3d0 !important;
  // --el-color-primary-light-8: #d1fae5 !important;
  // --el-color-primary-light-9: #ecfdf5 !important;
  // --el-color-primary-dark-2: #337ecc !important;
  // --el-text-color-primary: text-slate-700;
  // --el-drawer-bg-color: red !important;
  --el-bg-color: #fff !important;
}

[class="dark"] {
  --el-bg-color: #474648 !important;
}

html,
body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  // @apply bg-white text-slate-700;
  // @apply dark:bg-[#1e1e1f] dark:text-slate-100;
}

/* .hover-text {
  @apply hover:text-emerald-400 cursor-pointer;
} */
